<footer class="page-footer font-small special-color-dark pt-4">
    <div class="text-center">
      <a href="https://www.instagram.com/demidova1195/"><span class="fa fa-instagram"></span> Настя</a>
    <img src="static/img/icon.png" width="20" height="20" class="d-inline-block align-top" alt="">
      <a href="https://www.instagram.com/_wo_ie_ni_/"><span class="fa fa-instagram"></span> Леша</a>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="http://mybearlo.ga"> myBearlo.ga</a>
    </div>
</footer>