<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
    <div class="text-center">
      <a class="btn btn-primary btn-light" href="https://www.instagram.com/demidova1195/" role="button"><span class="fa fa-instagram"></span> Настя</a>
      <i class="fa fa-heart" aria-hidden="true"></i>
      <a class="btn btn-primary btn-light" href="https://www.instagram.com/_wo_ie_ni_/" role="button"><span class="fa fa-instagram"></span> Леша</a>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="http://mybearlo.ga"> myBearlo.ga</a>
    </div>
</footer>