<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="tiles">Настя<img src="static/img/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">Леша</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="tiles">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Style
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="carousel">carousel</a>
            <a class="dropdown-item" href="compact">compact</a>
            <a class="dropdown-item" href="default">default</a>
            <a class="dropdown-item" href="grid">grid</a>
            <a class="dropdown-item" href="slider">slider</a>
            <a class="dropdown-item" href="tiles">tiles</a>
            <a class="dropdown-item" href="tilesgrid">tilesgrid</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>