<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand">
      <div class="navbar-brand-name">
        <a href="https://www.instagram.com/demidova1195/" style="color:#ffffff; font-size:21px; font-family:Verdana">Настя</a>
        <img src="static/img/icon.png" width="30" height="30" class="d-inline-block align-top faa-tada animated">
        <a href="https://www.instagram.com/_wo_ie_ni_/" style="color:#ffffff; font-size:21px; font-family:Verdana">Леша</a>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="carousel">Carousel</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="compact">Compact</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="default">Default</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="grid">Grid</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="slider">Slider</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="tiles">Tiles</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="tilesgrid">Tilesgrid</a>
        </li>
        <div class="dropdown-divider"></div>
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="tiles"><span class="fa fa-home"></span> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-spin fa-cog"></span> Style
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="carousel" style="font-size:15px">
              <span class="fa fa-paw faa-pulse animated"></span> 
              Carousel
            </a>
            <a class="dropdown-item" href="compact" style="font-size:15px">
              <span class="fa fa-paw faa-pulse animated"></span> 
              Compact
            </a>
            <a class="dropdown-item" href="default" style="font-size:15px">
              <span class="fa fa-paw faa-pulse animated"></span> 
              Default
            </a>
            <a class="dropdown-item" href="grid" style="font-size:15px">
              <span class="fa fa-paw faa-pulse animated"></span> 
              Grid
            </a>
            <a class="dropdown-item" href="slider" style="font-size:15px">
              <span class="fa fa-paw faa-pulse animated"></span> 
              Slider
            </a>
            <a class="dropdown-item" href="tiles" style="font-size:15px">
              <span class="fa fa-paw faa-pulse animated"></span> 
              Tiles
            </a>
            <a class="dropdown-item" href="tilesgrid" style="font-size:15px">
              <span class="fa fa-paw faa-pulse animated"></span> 
             Tilesgrid
          </a>
          </div>
        </li>
      </ul>
    </div> 
  </nav>
</header>